
    * {
        cursor: pointer;
      list-style-type: none;
      text-decoration: none;
      padding: 0;
      margin: 0;
      box-sizing: border-box;
    }
    #navbar {
      cursor: pointer;
      z-index: 10;
      box-shadow: 1px 1px 1px 1px rgba(216, 215, 216, 0.75);
      background-color: white;
      color: rgb(241, 119, 75);
      display: inline-block;
      width: 100%;
      padding: 6px 0px;
      font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
      position: fixed;
      top: 0;

      
    }
    #logo {
      z-index: 11;
      transform: translate(10%, 0%);
      color: rgb(248, 90, 32);
      /* font-size: 26px; */
      float: left;
      margin-left: 35px;
    }

    #bar {
      padding-top: 6px;
      margin-right: 32px;
      float: right;
    }
    ul li a {
      text-decoration: none;
      list-style: none;
      color: rgb(250, 102, 57);
    }
    ul li a:hover {
      color: rgb(255, 72, 15);
      font-weight: 800px;
      text-shadow: 0px 2px 2px rgb(221, 217, 217);
      /* text-shadow: 1px 1px 4px rgba(168, 160, 160, 0.551); */
    }
    ul li i:hover {
      color: rgb(255, 72, 15);
      /* font-weight: 800px; */
      text-shadow: 0px 2px 2px rgb(221, 217, 217);
      /* text-shadow: 1px 1px 4px rgba(168, 160, 160, 0.551); */
    }
    ul li {
      display: inline-block;
      margin-right: 20px;
      font-size: 16px;
    }

    /*toggle search bar*/
    .searchdiv {
      position: relative;
      margin-left: 50%;
      display: inline-block;
      padding: 6px 7px;
      border-radius: 30px;
      box-shadow: 1px 1px 1px 1px rgba(226, 223, 225, 0.903);
      background-color: transparent;
    }
    .searchdiv input {
      display: none;
    }
    .searchdiv.active {
      position: absolute;
      display: flex;
      cursor: pointer;
      transition: 0.5s;
      width: 200px;
      height: 30px;
      border: none;
    }

    .searchdiv.active input {
      display: inline-block;
      width: 160px;
      outline: none;
      border: none;
      padding: 8px;
      margin-left: 6px;
      background-color: transparent;
    }

    .searchdiv:hover {
      box-shadow: 1px 1px 1px 1px rgba(178, 177, 178, 0.603);
    }

    body {
      position: relative;
      min-height: 100vh;
      width: 100%;
    }

    /* header css  */
    #banner {
      overflow: hidden;
      padding: 0;
      transition: 0.7s;
      width: 100%;
      height: 100vh;
    }

    .bgcolor {
      margin-top: 160px;
      width: 100%;
      display: flex;
      z-index: -5;
      height: 160px;
      background-color: rgba(246, 92, 26, 0.952);
      border-bottom-left-radius: 85px;
      box-shadow: 0px 8px 10px rgba(101, 101, 100, 0.291);
    }
    .header {
      padding-left: 37px;
      padding-top: 2px;
      padding-bottom: 10px;
      font-family: "Dosis", cursive;
      font-optical-sizing: auto;
      font-weight: 400;
      font-style: normal;
      /* color: rgb(248, 90, 32); */
      /* color: rgba(67, 33, 21, 0.867); */
      color: rgb(255, 255, 255);
      width: 80%;
      margin-right: 0;
    }
    .header h1 {
      left: -100%;
      /* transition: 0.6s; */
      font-size: 40px;
      animation: slideInFromLeft 1.5s ease-in;
    }

    @keyframes slideInFromLeft {
      0% {
        transform: translateX(-100%);
        opacity: 0;
      }
      100% {
        transform: translateX(0);
        opacity: 1;
      }
    }

    .bgcolor img {
      /* position: absolute; */
      top: 50%;
      left: 50%;
      transform: translate(2%, -25%);
      height: 400px;
      width: 400px;
      transition: 0.5s;
      filter: drop-shadow(0px 9px 10px rgba(138, 137, 136, 0.72));
      /* animation:appear 2s ease-in; */
      z-index: 8;
    }
    @keyframes appear {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }

    .circle {
      padding: 0;
      margin-left: 0;
      background-color: white;
      border: 8px solid rgb(255, 108, 11);
      box-shadow: 4px 6px 10px inset rgba(141, 141, 139, 0.291),
        4px -6px 10px inset rgba(141, 141, 139, 0.291),
        -1px -0px 5px rgba(54, 52, 52, 0.261),
        1px 0px 5px rgba(54, 52, 52, 0.261);
      height: 350px;
      width: 900px;
      /* top:50%; */
      /* left:80%; */
      transform: translate(58%, -25%);
      border-radius: 50%;
      float: right;
      animation: circular 2s linear infinite;
    }
    .circle img {
      z-index: 6;
      height: 100px;
      width: 100px;
      display: flex;
    }
    @keyframes circular {
      0%,
      100% {
        transform: rotateZ(0) translate(58%, -24%);
      }
      30% {
        transform: rotateZ(3deg) translate(56%, -27%);
      }
    }
    #one {
      height: 90px;
      transform: translate(20%, -20%);
    }
    #two {
      width: 110px;
      transform: translate(-45%, 15%);
    }

    #three {
      height: 110px;
      width: 130px;
      transform: translate(15%, 70%);
    }

    /* categories */
    .cat {
      margin: 0% 5%;
      padding: 30px 0px;
      font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
      color: coral;
    }
    .cat h1 {
      text-shadow: 0px 2px 3px rgb(236, 230, 230);
      font-weight: 800;
    }
    .cat p {
      margin-top: 8px;
      color: gray;
    }
    #boxes {
      margin-top: 5px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      flex-wrap: wrap;
    }
    #cats {
      /* margin-top:5px; */
      display: flex;
    }
    #cats img {
      filter: drop-shadow(0px 3px 5px rgba(138, 137, 136, 0.72));
      margin-top: 30px;
      height: 110px;
      width: 120px;
      margin-right: 20px;
    }
    #b1 p {
      padding: 0;
      text-align: center;
    }

    #pic {
      z-index: -1;
      height: 420px;
      /* width:; */
      background-image: url("a.jpg");
      /* filter:blur(1px); */
      background-size: cover;
      margin-bottom: 25px;
      /* overflow: hidden; */
    }
    #text {
      text-align: center;
      padding-left: 150px;
      padding-top: 25%;
      width: 930px;
    }
    #text p {
      border-radius: 60px;
      background-color: rgba(126, 97, 60, 0.628);
      font-weight: 600;
      font-size: 20px;
      padding-top: 5px;
      padding-bottom: 5px;
      /* padding-left:3px; */
      /* padding-right:10px; */
      color: white;
      font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
    }
    #order {
      z-index: 2;
      border-radius: 20px;
      outline: 0;
      width: 140px;
      font-size: 15px;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      margin: 20px 43%;
      font-weight: 800;
      border: 1px solid rgb(255, 255, 255);
      padding: 8px 10px;
      color: rgb(255, 128, 0);
      /* box-shadow: 3px 3px 8px rgba(200, 153, 11, 0.335); */
      background-image: linear-gradient(30deg, white, rgb(221, 218, 215));
    }
    #order:hover {
      color: rgb(246, 103, 7);
      text-shadow: 0px 1px 4px rgba(128, 128, 128, 0.3);
    }
    #b2 {
      padding-bottom: 8px;
      margin-top: 30px;
      box-shadow: 0px 2px 5px rgba(128, 128, 128, 0.824);
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      border-bottom-right-radius: 3px;
      border-bottom-left-radius: 3px;
      margin-right: 20px;
    }
    #b2 img {
      padding: 0px 3px 5px 18px;
    }
    #b2 p:hover {
      color: white;
      background-color: coral;
    }
    #b2 img {
      width: 95px;
      height: 80px;
    }
    #b2 p {
      background-color: white;
      color: coral;
      text-align: center;
    }
    .disc {
      font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
      margin-top: 10px;
      display: flex;
      flex-direction: column;

    
    }
    .disc h1 {
      text-shadow: 0px 2px 3px rgb(158, 152, 152);
      text-align: center;
      box-shadow: 4px -2px 7px inset rgba(254, 253, 252, 0.689);
      border-top-right-radius: 100px;
      border-bottom-left-radius: 100px;
      background-color: rgb(248, 92, 36);
      color: white;
      padding: 8px 20px;
      font-weight: 800;
    }
    #b3 {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    #b3 img {
      height: 180px;
      width: 180px;
      border-radius: 50%;
      margin-bottom: 20px;
      filter: drop-shadow(0px 3px 5px rgba(138, 137, 136, 0.599));
    }
    #check {
      transform: translateX(-12%);
      font-size: 18px;
      color: coral;
      background-color: white;
      box-shadow: 2px 1px 4px gray;
      padding: 5px 8px;
      border: none;
      border-radius: 15px;
      /* border-bottom-right-radius: 10px; */
      text-align: center;
    }
    #check:hover {
      background-color: rgb(251, 93, 36);
      text-shadow: 0px 1px 2px rgb(158, 152, 152);
      color: white;
    }
    #boxes1{
      /* padding-bottom:px; */
      margin-top: 5px;
      display: flex;
      padding-left: 30px;
     
      flex-direction: column;
      flex-wrap: wrap;
    }
    #b4{
      background-color: white;
      padding-left:20px;
      padding-bottom:8px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      box-shadow: 0px 2px 5px rgba(128, 128, 128, 0.824);
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      border-bottom-right-radius: 3px;
      border-bottom-left-radius: 3px;
      margin-right: 20px;
      width:210px;
      margin-top:10px;
    }
    #boxes1 h2{
      font-size: 26px;
      text-shadow: 0px 2px 3px rgb(236, 230, 230);
      float:left;
      margin-top:35px;
    }
    #b4 img{
    border-radius: 50%;
    height:150px;
    width:150px;
    }
    .meals
    {
      padding-bottom: 20px;
      margin-right:0px;
      background-image: linear-gradient(55deg,white,white, rgba(251, 119, 43, 0.913));  /*rgba(246, 104, 15, 0.891));*/
    
    }
    #b4 h4{
    font-size:18px;
    margin-top:7px;
    transform: translateX(-15%);
    }
    #b4 button{
      background-color: rgb(251, 93, 36);
      text-shadow: 0px 1px 2px rgb(158, 152, 152);
      color: white;
      padding: 5px 8px;
      border: none;
      border-bottom-right-radius: 10px;
      border-top-left-radius: 10px;
      text-align: center;
    }
    #b4 button:hover{
     
      box-shadow: 1px 2px 4px rgb(148, 147, 147);
    }

    /* footer css */
  #foot
 {
  margin-top: 90px;
  display:flex;
/*  width:100%;*/
  background-image:linear-gradient(80deg,coral,rgba(255, 140, 0, 0.912),coral )   ;   
   /*rgba(255, 127, 80, 0.937); linear-gradient(80deg,rgba(255, 140, 0, 0.912),coral    )   ;*/
  padding-right:30%;
  padding-left:30%;
  padding-top:40px;
  text-align: center;
 }

 #ic
 {
  display: inline-block;
  color:rgba(246, 87, 29, 0.834);
  box-shadow: 1px 1px 2px rgb(164, 163, 163);
  margin-top: 3px;
  margin-bottom:20px;

 }

/* creating circle icons */
 .social
{                  
    background:white;
    width: 33px;
    height: 33px;
    border-radius: 50%;
/*    text-align: center;*/
    align-content:center;
    justify-content:center;
/*    line-height: 40px;*/
/*    vertical-align: middle;*/
    padding:5px;
}

#icc
{ 
  font-size:13px;
  display:inline-block;
  color:white;
  text-shadow: 1px 1px 1px rgb(78, 78, 78);
}
#footd
{
 text-align: center;
 color:white;
}


#b3{
  position: relative;
  transition: all 1s ease;
  transform-style:preserve-3d ;
}
#b3:hover{
  transform: rotateY(180deg);
}
.turn{
  position: relative;
  backface-visibility: hidden;
}
#b3 p{
  color:rgb(244, 128, 5);
  color:white;
  background-color: rgba(244, 81, 5, 0.901);
  text-shadow: 0px 1px 1px rgb(141, 140, 140);
}
.turned{
  text-align: center;
  width:180px;
  padding:35px 30px;
  font-size: 18px;
  border-radius: 50%;
  
  /* border:1px solid rgb(26, 26, 26); */
  box-shadow:-2px 1px 8px rgba(72, 72, 72, 0.48),
  1px 2px 4px rgba(34, 34, 34, 0.34) ;
  position:absolute;
  backface-visibility: hidden;
  transform: rotateY(180deg);
}